/.build/
/SourcePackages/

# Ignore build files
Build/
DerivedData/
*.xcuserstate

# Ignore user-specific settings
*.xcworkspace/xcuserdata
*.xcodeproj/project.xcworkspace/xcuserdata

# Ignore temporary files
*.DS_Store
*.swp

# Ignore IPA and build output
*.ipa
*.log
*.plist
build/
*.xcarchive
TasbeehPlus 1446-*/